In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("survey_data.csv")
data_test1 = data
data_test2 = data
data_test3 = data

In [2]:
data.shape
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             554 non-null    int64
 1   Age(Yrs.)          554 non-null    int64
 2   Marital_Status     554 non-null    int64
 3   Father             554 non-null    int64
 4   Mother             554 non-null    int64
 5   Grand_Father       554 non-null    int64
 6   Grand_Mother       554 non-null    int64
 7   Siblings           554 non-null    int64
 8   Pregnant           554 non-null    int64
 9   Radiation          554 non-null    int64
 10  Hairline_Pattern   554 non-null    int64
 11  Hairstyle          554 non-null    int64
 12  Density            554 non-null    int64
 13  Hair_Fall_Rate     554 non-null    int64
 14  Scalp_Infection    554 non-null    int64
 15  Pain_Itch          554 non-null    int64
 16  Nutrition          554 non-null    int64
 17  Weight_Loss        554 non-null    int64
 18  Sleeping_Pattern   554 non-null    int64
 19  Chemical_Products  554 non-null    int64
 20  Medication         554 non-null    int64
 21  Region             554 non-null    int64
 22  Label              554 non-null    int64
dtypes: int64(23)
memory usage: 99.7 KB

,Gender,Age(Yrs.),Marital_Status,Father,Mother,Grand_Father,Grand_Mother,Siblings,Pregnant,Radiation,...,Hair_Fall_Rate,Scalp_Infection,Pain_Itch,Nutrition,Weight_Loss,Sleeping_Pattern,Chemical_Products,Medication,Region,Label
count,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,...,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000
mean,0.454874,33.660650,0.422383,0.384477,0.259928,0.306859,0.185921,0.312274,0.012635,0.167870,...,121.095668,0.241877,0.326715,1.236462,0.261733,1.196751,0.357401,263.602888,123.703971,0.539711
std,0.668825,19.192289,0.494385,0.486911,0.438991,0.461607,0.389394,0.463840,0.111796,0.374089,...,117.690094,0.428607,0.469436,0.755957,0.439975,0.731065,0.479667,1983.242849,5.330226,0.498871
min,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,0.000000
25%,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,124.000000,0.000000
50%,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,89.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,124.000000,1.000000
75%,1.000000,45.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,200.000000,0.000000,1.000000,2.000000,1.000000,2.000000,1.000000,7.000000,124.000000,1.000000
max,2.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1000.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,34567.000000,124.000000,1.000000

In [3]:
data_test1.head()

,Gender,Age(Yrs.),Marital_Status,Father,Mother,Grand_Father,Grand_Mother,Siblings,Pregnant,Radiation,...,Hair_Fall_Rate,Scalp_Infection,Pain_Itch,Nutrition,Weight_Loss,Sleeping_Pattern,Chemical_Products,Medication,Region,Label
0,0,20,0,0,0,0,0,0,0,1,...,4,0,1,1,0,2,1,0,124,1
1,2,41,0,0,0,0,0,0,0,0,...,63,0,0,2,0,2,1,0,124,0
2,1,50,1,0,0,0,0,0,0,0,...,158,0,0,2,0,2,1,27,124,1
3,2,42,0,1,0,0,0,0,0,0,...,362,0,0,2,0,1,1,0,124,1
4,1,33,1,0,0,0,0,0,0,0,...,58,0,0,2,0,2,1,147,124,0

In [4]:
data.shape
data.head()
data.describe()

,Gender,Age(Yrs.),Marital_Status,Father,Mother,Grand_Father,Grand_Mother,Siblings,Pregnant,Radiation,...,Hair_Fall_Rate,Scalp_Infection,Pain_Itch,Nutrition,Weight_Loss,Sleeping_Pattern,Chemical_Products,Medication,Region,Label
count,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,...,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000,554.000000
mean,0.454874,33.660650,0.422383,0.384477,0.259928,0.306859,0.185921,0.312274,0.012635,0.167870,...,121.095668,0.241877,0.326715,1.236462,0.261733,1.196751,0.357401,263.602888,123.703971,0.539711
std,0.668825,19.192289,0.494385,0.486911,0.438991,0.461607,0.389394,0.463840,0.111796,0.374089,...,117.690094,0.428607,0.469436,0.755957,0.439975,0.731065,0.479667,1983.242849,5.330226,0.498871
min,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,0.000000
25%,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,38.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,124.000000,0.000000
50%,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,89.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,124.000000,1.000000
75%,1.000000,45.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,200.000000,0.000000,1.000000,2.000000,1.000000,2.000000,1.000000,7.000000,124.000000,1.000000
max,2.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1000.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,34567.000000,124.000000,1.000000

In [5]:
x = data.drop(['Label'], axis = 'columns')
y = data['Label']

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)
print(x_train.shape)
print(x_test.shape)

(443, 22)
(111, 22)

In [7]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data = scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [40]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter= 10000,activation='relu',alpha=0.001,hidden_layer_sizes=(10,10),solver='adam')
mlp

MLPClassifier(alpha=0.001, hidden_layer_sizes=(10, 10), max_iter=10000)

In [41]:
mlp.fit(x_train,y_train)

MLPClassifier(alpha=0.001, hidden_layer_sizes=(10, 10), max_iter=10000)

In [42]:
pred = mlp.predict(x_test)

Best validation score: 0.86 at epoch 1

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

train_acc_list = [] 
test_acc_list = []
train_loss_list = []
test_loss_list = []

for epoch in range(10):

    mlp.fit(x_train,y_train)
    
    train_preds = mlp.predict(x_train)
    train_acc = accuracy_score(y_train, train_preds)
    train_acc_list.append(train_acc)
    train_loss = mean_squared_error(y_train, train_preds)
    train_loss_list.append(train_loss)

    test_preds = mlp.predict(x_test)
    test_acc = accuracy_score(y_test, test_preds)
    test_acc_list.append(test_acc)
    test_loss = mean_squared_error(y_test, test_preds)
    test_loss_list.append(test_loss)

In [ ]:
import matplotlib.pyplot as plt

plt.plot(train_acc_list, label='Train Accuracy')
plt.plot(test_acc_list, label='Test Accuracy')
plt.xlabel('Epoch')
plt.ylabel('Accuracy')
plt.title('Train and Test Accuracy')
plt.legend()
plt.show()

In [ ]:
plt.plot(train_loss_list, label='train loss')
plt.plot(test_loss_list, label='test loss')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.title('Train and Test Loss')
plt.legend()
plt.show()

In [ ]:
train_predictions = mlp.predict(x_train)
test_predictions = mlp.predict(x_test)
overall_train_acc = accuracy_score(y_train, train_predictions)
overall_test_acc = accuracy_score(y_test, test_predictions)
overall_train_mse = mean_squared_error(y_train, train_predictions)
overall_test_mse = mean_squared_error(y_test, test_predictions)

print("Overall Train Accuracy:", overall_train_acc)
print("Overall Test Accuracy:", overall_test_acc)
print("Overall Train MSE:", overall_train_mse)
print("Overall Test MSE:", overall_test_mse)

In [15]:
print(classification_report(y_test,pred))

NameError: name 'classification_report' is not defined

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.heatmap(cm, cmap='Greens')
plt.show()

#sns.pairplot(data,hue='Label')
#plt.show()
#data_test1.columns

In [ ]:
data_test1 = data_test1[[ 'Age(Yrs.)', 'Marital_Status',
 'Pregnant', 'Radiation','Scalp_Infection','Pain_Itch','Nutrition','Weight_Loss','Chemical_Products',
       'Sleeping_Pattern','Medication','Label']]
data_test2 = data_test2[['Father','Mother','Grand_Father','Grand_Mother','Siblings','Label']]
data_test3 = data_test3[['Hair_Fall_Rate','Hairline_Pattern','Hairstyle','Density','Label']]

In [ ]:
plt.figure(figsize=(16,15))
sns.heatmap(x_train.corr(), annot=True, cmap='coolwarm')

In [ ]:
plt.figure()
sns.heatmap(data_test2.corr(), annot=True, cmap='coolwarm')

In [ ]:
plt.figure()
sns.heatmap(data_test3.corr(), annot=True, cmap='coolwarm')